.item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  flex-wrap: wrap;
  flex-direction: column;
}
.item h3{
  background-color: lightblue;

}
.item p{
  background-color: blue;
  color: white;
  text-align: center;
}

.button{
  
  background-color: lightblue;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}


